<div class="albums">
    {{#each albums as |album|}}
         <div class="card" style="width: 18rem;">
      <img src="{{album.images.0.url}}" class="card-img-top" alt="no image" />
      <div class="card-body">
        <h5 class="card-title">{{album.name}}</h5>
        <a href="/songs/{{album.id}}">Open Album</a>
        <a class="spotify" href="{{album.uri}}">View on Spotify</a>
      </div>
    </div>
    {{/each}}
</div>