<div id="background">
  <div id="home">
    <h1>Welcome to MySpotifyApp</h1>
    <form action="/artist-search" method="get">
      <input type="text" name="search" placeholder="search your artist" />
      <button type="submit">Search</button>
    </form>
  </div>
</div>